:root{
    --primary-color:#7936A6 ;
    --secondary-color: #471F27;
    --accent1-color:#823726;
    --accent2-color:#257083;
}
.hero div{
    padding: relative;
      
}
.hero h1{
    position: absolute;
}
.hero img{
    float: right;
}